In [ ]:
# Practice 4

Using a normal class:

In [3]:
class Employee:
    def __init__(self, id, name, salary, department):
        self.id = id
        self.name = name
        self.salary = salary
        self.department = department

    def calculate_salary(self):
        return self.salary * 0.9

    def assign_department(self, department):
        self.department = department

    def print_employee_details(self):
        print("\nName: ", self.name)
        print("ID: ", self.id)
        print("Salary: ", self.salary)
        print("Department: ", self.department)
        print("----------------------")
        
employee1 = Employee("ADAMS", "E7876", 50000, "ACCOUNTING")
employee2 = Employee("JONES", "E7499", 45000, "RESEARCH")
employee3 = Employee("MARTIN", "E7900", 50000, "SALES")
employee4 = Employee("SMITH", "E7698", 55000, "OPERATIONS")

employee1.print_employee_details()
employee2.print_employee_details()
employee3.print_employee_details()
employee4.print_employee_details()

Name:  E7876
ID:  ADAMS
Salary:  50000
Department:  ACCOUNTING
----------------------

Name:  E7499
ID:  JONES
Salary:  45000
Department:  RESEARCH
----------------------

Name:  E7900
ID:  MARTIN
Salary:  50000
Department:  SALES
----------------------

Name:  E7698
ID:  SMITH
Salary:  55000
Department:  OPERATIONS
----------------------

Using a dataclass:

In [6]:
from dataclasses import dataclass

@dataclass
class Employee:
    id: int
    name: str
    salary: float
    department: str

    def calculate_salary(self):
        return self.salary * 0.9  # Deducting 10% for Tax

    def assign_department(self, department: str):
        self.department = department

    def print_employee_details(self):
        print("\nName: ", self.name)
        print("ID: ", self.id)
        print("Salary: ", self.salary)
        print("Department: ", self.department)
        print("----------------------")
        
employee1 = Employee("ADAMS", "E7876", 50000, "ACCOUNTING")
employee2 = Employee("JONES", "E7499", 45000, "RESEARCH")
employee3 = Employee("MARTIN", "E7900", 50000, "SALES")
employee4 = Employee("SMITH", "E7698", 55000, "OPERATIONS")

employee1.print_employee_details()
employee2.print_employee_details()
employee3.print_employee_details()
employee4.print_employee_details()

Name:  E7876
ID:  ADAMS
Salary:  50000
Department:  ACCOUNTING
----------------------

Name:  E7499
ID:  JONES
Salary:  45000
Department:  RESEARCH
----------------------

Name:  E7900
ID:  MARTIN
Salary:  50000
Department:  SALES
----------------------

Name:  E7698
ID:  SMITH
Salary:  55000
Department:  OPERATIONS
----------------------